# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Ignore binary files
what-cmd

# Output of the go coverage tool when used with LiteIDE
*.out

# Envs and the like
.github

# Go workspace file
go.work
go.work.sum